body {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: hidden;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

input[type="file" i]::-webkit-file-upload-button {
  color: white;
  padding: 1rem;
  background: black;
  border: none;
  font-size: 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

input[type="file" i] {
  font-family: Georgia, 'Times New Roman', Times, serif;
  cursor: pointer;
}

.video {
  border: 1px solid black;
  max-width: 800px;
  width: 800px;
  min-width: 800px;
  max-height: 700px;
  margin: 1rem 0;
}

.loading {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translatex(-50%);
  color: rgb(49, 190, 183);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateY(1000px);
  transition: transform .3s;
}

.control {
  background: black;
  color: white;
  border: none;
  padding: .5rem;
  border: 1px solid black;
}

.control i {
  font-size: 2.5rem;
  vertical-align: middle;
}

.volumeRange {
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}

.volumeRange::-webkit-slider-runnable-track {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  background: black;
  height: 10px;
}

.volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.volumeRange::-moz-range-track {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: none;
  background: black;
  height: 10px;
}

.volumeRange::-moz-range-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.hide {
  display: none !important;
}

@media (max-width: 991px) {
  .video {
    max-width: 100%;
    width: auto;
    min-width: auto;
  }
}